.about {
  border-bottom: 1px solid grey;
  font-size: 50px;
  margin: 20px;
  margin-top: 160px;
  padding: 10px;
}

.about-one {
  font-size: 22px;
  margin: 20px;
  padding: 10px;
}

.about-two {
  margin: 20px;
  margin-top: 40px;
  padding: 10px;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 250px;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0, 0.3);
}

.carousel {
  border-bottom: 1px solid black;
  opacity: .9;
}

.footer {
  background-color: black;
}

.image {
  margin-bottom: 10px;
}

.logo {
  padding: 22px;
  padding-right: 60px;
}

.logo-one {
  font-size: 45px;
}

.logo-one:hover {
  color: #00FD00;
}

.logo-two {
  color: #A0A0A0;
  font-size: 60px;
  margin-bottom: 40px;
  text-align: center;
}

.results {
  font-size: 60px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-top: 50px;
}

.search {
  font-size: 26px;
  margin-top: 50px;
}

.search-one {
  color: grey;
  border: 3px solid black;
  border-radius: 8px;
  margin: 5px;
  outline: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.stream {
  background-color: black;
  border: 1px solid black;
  color: white;
  font-size: 20px;
}

.stream:hover {
  background-color: black;
  border: 1px solid black;
  color: #00FD00;
  opacity: .8;
}

.sub-header {
  color: white;
  font-size: 18px;
  margin-bottom: 40px;
  text-align: center;
}

.submit {
  background-color: black;
  border: 2px solid #A0A0A0;
  border-radius: 100px;
  color: white;
  outline: none;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 5px;
}

.submit:hover {
  box-shadow: 3px 3px 1px #A0A0A0;
  color: #00FD00;
  opacity: .85;
}

.tabs {
  font-size: 18px;
  padding: 10px;
}

.tabs-one:hover {
  color: #00FD00;
}

.top {
  background-color: black;
  border: 2px solid grey;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  padding: 15px;
}

.top-one {
  color: grey;
}

.top-one:hover {
  color: #00FD00;
  opacity: .8;
}

.title {
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}

.tournament {
  background-color: black;
  opacity: .9;
  padding-bottom: 50px;
  padding-top: 50px;
}

.tournament-one {
  background-color: #4B4B4B;
  border: 5px solid white;
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 40px;
  opacity: .9;
  padding: 30px;
  text-align: right;
}

.tournament-two {
  padding-right: 20px;
}